<?xml version="1.0"?>

<launch>
    <arg name="ns" default="local_planner"/>

    <!-- param -->
    <arg name="dwa_param" default="$(find dwa_planner)/config/dwa_param.yaml"/>
    <arg name="robot_param" default="$(find dwa_planner)/config/robot_param.yaml"/>
    <arg name="hz" default="50"/>
    <arg name="global_frame" default="map"/>
    <arg name="subscribe_count_th" default="10"/>
    <arg name="sleep_time_after_finish" default="0.5"/>
    <arg name="v_path_width" default="0.05"/>
    <arg name="use_footprint" default="false"/>
    <arg name="use_path_cost" default="false"/>
    <arg name="use_scan_as_input" default="true"/>
    <!-- topic name -->
    <!-- published topics -->
    <arg name="cmd_vel" default="/four_wheel_steering_controller/cmd_vel"/>
    <!-- subscribed topics -->
    <arg name="local_map" default="/local_map"/>
    <arg name="local_goal" default="/shortterm_goal"/>
    <arg name="odom" default="/odom"/>
    <arg name="dist_to_goal_th" default="/dist_to_goal_th"/>
    <arg name="scan" default="/scan"/>
    <arg name="footprint" default="/footprint"/>
    <arg name="path" default="/path"/>
    <arg name="target_velocity" default="/target_velocity"/>

    <arg name="arena_info_static_topic" value="/arena_info_static" />
    <arg name="arena_info_dynamic_topic" value="/arena_info_dynamic" />
    <arg name="ctrl_topic" value="/ctrl/agent_0" />

    <arg name="playground" value = "ring_exp_v1.0" />
    <param name="/use_sim_time" value="true"/>

    <!-- run dft planner node -->
    <node pkg="planning_integrated" type="park" name="park_0" output="screen" >
        <rosparam file="$(find ai_agent_planner)/cfg/dynamicObs.yaml" command="load"/>
        <param name="ego_id" type="int" value="0" />
        <param name="agent_config_path" type="string" value="$(find playgrounds)/$(arg playground)/agent_config.json" />
        <param name="traj_config_path" type="string" value="$(find traj_planner)/config/minco_config.pb.txt" />
        <param name="desired_vel" value="1.0"/>
        <param name="use_sim_state" value="true"/>
        <param name="enable_urban" value="true"/>
        <param name="isparking" value="true"/>
        <param name="gain_heading_follow" value="0.4"/>
        <param name="gain_heading_y_correction" value="0.6"/>
        <remap from="~arena_info_static" to="$(arg arena_info_static_topic)"/>
        <remap from="~arena_info_dynamic" to="$(arg arena_info_dynamic_topic)"/>
        <remap from="~ctrl" to="$(arg ctrl_topic)"/>
        <!-- <remap from="/odom" to="/ranger_base_node/odom"/>     -->
        <remap from="/cmd_vel" to="/not_used"/>
        <remap from="/using_weights" to="/not_used1"/>
        <!-- <remap from="/set_weights" to="/not_used2"/> -->

    </node>

    <!-- run dwa_planner node -->
    <node pkg="dwa_planner" type="dwa_planner" name="dwa_planner" ns="$(arg ns)">
        <!-- param -->
        <rosparam command="load" file="$(arg dwa_param)"/>
        <rosparam command="load" file="$(arg robot_param)"/>
        <param name="HZ" value="$(arg hz)"/>
        <param name="GLOBAL_FRAME" value="$(arg global_frame)"/>
        <param name="SUBSCRIBE_COUNT_TH" value="$(arg subscribe_count_th)"/>
        <param name="SLEEP_TIME_AFTER_FINISH" value="$(arg sleep_time_after_finish)"/>
        <param name="V_PATH_WIDTH" value="$(arg v_path_width)"/>
        <param name="USE_FOOTPRINT" value="$(arg use_footprint)"/>
        <param name="USE_PATH_COST" value="$(arg use_path_cost)"/>
        <param name="USE_SCAN_AS_INPUT" value="$(arg use_scan_as_input)"/>
        <!-- topic name -->
        <!-- published topics -->
        <remap from="/cmd_vel" to="$(arg cmd_vel)"/>
        <!-- subscribed topics -->
        <remap from="/local_map" to="$(arg local_map)"/>
        <remap from="/move_base_simple/goal" to="$(arg local_goal)"/>
        <remap from="/odom" to="$(arg odom)"/>
        <remap from="/dist_to_goal_th" to="$(arg dist_to_goal_th)"/>
        <remap from="/scan" to="$(arg scan)"/>
        <remap from="/footprint" to="$(arg footprint)"/>
        <remap from="/path" to="$(arg path)"/>
        <remap from="/target_velocity" to="$(arg target_velocity)"/>
    </node>
</launch>
